[submodule "block01"]
	path = block01
	url = https://github.com/raven5211/fsa_block01.git
[submodule "block02"]
	path = block02
	url = https://github.com/raven5211/fsa_block02
[submodule "block03"]
	path = block03
	url = https://github.com/raven5211/fsa_block03
[submodule "block04"]
	path = block04
	url = https://github.com/raven5211/fsa_block04.git
[submodule "block05"]
	path = block05
	url = https://github.com/raven5211/fsa_block05.git
