[submodule "unit1/block02/hack_the_mainframe"]
	path = unit1/block02/hack_the_mainframe
	url = https://github.com/raven5211/fsa_hack_the_mainframe.git
[submodule "unit1/block03/baked-potatoes"]
	path = unit1/block03/baked-potatoes
	url = https://github.com/raven5211/fsa_block_1_03_baked-potatoes.git
[submodule "unit1/block03/github-workflow"]
	path = unit1/block03/github-workflow
	url = https://github.com/Not-Aiex/github-workflow.git
[submodule "unit1/block04/html_practice.git"]
	path = unit1/block04/html_practice.git
	url = https://github.com/raven5211/fsa_block_1_04_html_practice.git
[submodule "unit1/block04/zoo"]
	path = unit1/block04/zoo
	url = https://github.com/raven5211/fsa_block_1_04_zoo.git
[submodule "unit1/block05/fairy-tale"]
	path = unit1/block05/fairy-tale
	url = https://github.com/raven5211/fsa_block_1_05_fairy-tale.git
[submodule "unit1/block05/furniture-emporium"]
	path = unit1/block05/furniture-emporium
	url = https://github.com/raven5211/fsa_block_1_05_furniture-emporium.git
[submodule "unit1/block06/fullstack-bakery"]
	path = unit1/block06/fullstack-bakery
	url = https://github.com/raven5211/fsa_block_1_06_fullstack-bakery.git
[submodule "unit1/block06/solar-system"]
	path = unit1/block06/solar-system
	url = https://github.com/raven5211/fsa_block_1_06_solar-system.git
[submodule "unit1/block06/flex_practice"]
	path = unit1/block06/flex_practice
	url = https://github.com/raven5211/fsa_block_1_06_flex_practice.git
[submodule "unit1/block07/garden"]
	path = unit1/block07/garden
	url = https://github.com/raven5211/fsa_block_1_07_garden.git
[submodule "unit1/block07/holy-grail"]
	path = unit1/block07/holy-grail
	url = https://github.com/raven5211/fsa_block_1_07_holy-grail.git
[submodule "unit1/block08/qwirty"]
	path = unit1/block08/qwirty
	url = https://github.com/raven5211/fsa_block_1_08_qirty.git
[submodule "unit1/block09/personal-website"]
	path = unit1/block09/personal-website
	url = https://github.com/raven5211/fsa_block_1_09_PersonalWebsite.git
[submodule "unit3/block01/javascript-intro"]
	path = unit3/block01/javascript-intro
	url = https://github.com/raven5211/fsa_block_3_01_javascript-intro.git
[submodule "unit3/block01/secure-the-vault"]
	path = unit3/block01/secure-the-vault
	url = https://github.com/raven5211/fsa_block_3_01_secure-the-vault.git
[submodule "unit3/block02/pop-quiz"]
	path = unit3/block02/pop-quiz
	url = https://github.com/raven5211/fsa_block_3_02_pop-quiz.git
[submodule "unit3/block02/vending-machine"]
	path = unit3/block02/vending-machine
	url = https://github.com/raven5211/fsa_block_3_02_vending-machine.git
[submodule "unit3/block03/project-pricing"]
	path = unit3/block03/project-pricing
	url = https://github.com/raven5211/fsa_block_3_03_project-pricing.git
[submodule "unit3/block04/fsa_block_3_04_tdd-intro"]
	path = unit3/block04/tdd-intro
	url = https://github.com/raven5211/fsa_block_3_04_tdd-intro.git
[submodule "unit3/block03/tabletop-tools"]
	path = unit3/block03/tabletop-tools
	url = https://github.com/raven5211/fsa_tabletop-tools.git
[submodule "unit1/block07/grid_practice"]
	path = unit1/block07/grid_practice
	url = https://github.com/raven5211/fsa_grid_practice.git
[submodule "unit3/block05/loops-intro"]
	path = unit3/block05/loops-intro
	url = https://github.com/raven5211/fsa_loops-intro.git
[submodule "unit3/block05/tdd-loops"]
	path = unit3/block05/tdd-loops
	url = https://github.com/raven5211/fsa_tdd-loops.git
[submodule "unit3/block06/array-intro"]
	path = unit3/block06/array-intro
	url = https://github.com/raven5211/fsa_array-intro.git
[submodule "unit3/block06/tdd-arrays"]
	path = unit3/block06/tdd-arrays
	url = https://github.com/raven5211/fsa_tdd-arrays.git
[submodule "unit3/block07/objects-intro"]
	path = unit3/block07/objects-intro
	url = https://github.com/raven5211/fsa_objects-intro.git
[submodule "unit3/block07/tdd-objects"]
	path = unit3/block07/tdd-objects
	url = https://github.com/raven5211/fsa_tdd-objects.git
[submodule "unit3/block08/array-methods-intro"]
	path = unit3/block08/array-methods-intro
	url = https://github.com/raven5211/fsa_array-methods-intro.git
[submodule "unit3/block08/groceries"]
	path = unit3/block08/groceries
	url = https://github.com/raven5211/fsa_groceries.git
[submodule "unit3/block09/inspirational-quotes"]
	path = unit3/block09/inspirational-quotes
	url = https://github.com/raven5211/fsa_inspirational-quotes.git
[submodule "unit3/block09/freelance-forum"]
	path = unit3/block09/freelance-forum
	url = https://github.com/raven5211/fsa_freelancer-forum.git
[submodule "unit3/block09/DOM-practice"]
	path = unit3/block09/DOM-practice
	url = https://github.com/raven5211/fsa_DOM-practice.git
[submodule "unit3/block10/event-practice"]
	path = unit3/block10/event-practice
	url = https://github.com/raven5211/fsa_event-practice.git
[submodule "unit3/block10/odds-and-evens"]
	path = unit3/block10/odds-and-evens
	url = https://github.com/raven5211/fsa_odds-and-evens.git
[submodule "unit3/block10/counting-sheep"]
	path = unit3/block10/counting-sheep
	url = https://github.com/raven5211/fsa_counting-sheep.git
[submodule "unit3/block11/fullstack-gala"]
	path = unit3/block11/fullstack-gala
	url = https://github.com/raven5211/fsa_fullstack-gala.git
[submodule "unit3/block11/party-planner"]
	path = unit3/block11/party-planner
	url = https://github.com/raven5211/fsa_party-planner.git
[submodule "unit3/block12/fullstack-gala-admin"]
	path = unit3/block12/fullstack-gala-admin
	url = https://github.com/raven5211/fsa_fullstack-gala-admin.git
[submodule "unit3/block12/party-planner-admin"]
	path = unit3/block12/party-planner-admin
	url = https://github.com/raven5211/fsa_party-planner-admin.git
[submodule "unit3/block13/puppy-bowl"]
	path = unit3/block13/puppy-bowl
	url = https://github.com/raven5211/fsa_puppy-bowl.git
[submodule "unit4/block01/puppy-pals"]
	path = unit4/block01/puppy-pals
	url = https://github.com/raven5211/fsa_puppy-pals.git
[submodule "unit4/block01/dark-echoes"]
	path = unit4/block01/dark-echoes
	url = https://github.com/raven5211/fsa_dark-echoes.git
[submodule "unit4/block02/color-palette"]
	path = unit4/block02/color-palette
	url = https://github.com/raven5211/fsa_color-palette.git
[submodule "unit4/block02/react-tv"]
	path = unit4/block02/react-tv
	url = https://github.com/raven5211/fsa_react-tv.git
