[submodule "unit1/block02/hack_the_mainframe"]
	path = unit1/block02/hack_the_mainframe
	url = https://github.com/raven5211/fsa_hack_the_mainframe.git
[submodule "unit1/block03/baked-potatoes"]
	path = unit1/block03/baked-potatoes
	url = https://github.com/raven5211/fsa_block_1_03_baked-potatoes.git
[submodule "unit1/block03/github-workflow"]
	path = unit1/block03/github-workflow
	url = https://github.com/Not-Aiex/github-workflow.git
[submodule "unit1/block04/html_practice.git"]
	path = unit1/block04/html_practice.git
	url = https://github.com/raven5211/fsa_block_1_04_html_practice.git
[submodule "unit1/block04/zoo"]
	path = unit1/block04/zoo
	url = https://github.com/raven5211/fsa_block_1_04_zoo.git
[submodule "unit1/block05/fairy-tale"]
	path = unit1/block05/fairy-tale
	url = https://github.com/raven5211/fsa_block_1_05_fairy-tale.git
[submodule "unit1/block05/furniture-emporium"]
	path = unit1/block05/furniture-emporium
	url = https://github.com/raven5211/fsa_block_1_05_furniture-emporium.git
[submodule "unit1/block06/fullstack-bakery"]
	path = unit1/block06/fullstack-bakery
	url = https://github.com/raven5211/fsa_block_1_06_fullstack-bakery.git
[submodule "unit1/block06/solar-system"]
	path = unit1/block06/solar-system
	url = https://github.com/raven5211/fsa_block_1_06_solar-system.git
[submodule "unit1/block06/flex_practice"]
	path = unit1/block06/flex_practice
	url = https://github.com/raven5211/fsa_block_1_06_flex_practice.git
[submodule "unit1/block07/garden"]
	path = unit1/block07/garden
	url = https://github.com/raven5211/fsa_block_1_07_garden.git
[submodule "unit1/block07/holy-grail"]
	path = unit1/block07/holy-grail
	url = https://github.com/raven5211/fsa_block_1_07_holy-grail.git
[submodule "unit1/block08/qwirty"]
	path = unit1/block08/qwirty
	url = https://github.com/raven5211/fsa_block_1_08_qirty.git
[submodule "unit1/block09/personal-website"]
	path = unit1/block09/personal-website
	url = https://github.com/raven5211/fsa_block_1_09_PersonalWebsite.git
[submodule "unit3/block01/javascript-intro"]
	path = unit3/block01/javascript-intro
	url = https://github.com/raven5211/fsa_block_3_01_javascript-intro.git
[submodule "unit3/block01/secure-the-vault"]
	path = unit3/block01/secure-the-vault
	url = https://github.com/raven5211/fsa_block_3_01_secure-the-vault.git
[submodule "unit3/block02/pop-quiz"]
	path = unit3/block02/pop-quiz
	url = https://github.com/raven5211/fsa_block_3_02_pop-quiz.git
[submodule "unit3/block02/vending-machine"]
	path = unit3/block02/vending-machine
	url = https://github.com/raven5211/fsa_block_3_02_vending-machine.git
[submodule "unit3/block03/project-pricing"]
	path = unit3/block03/project-pricing
	url = https://github.com/raven5211/fsa_block_3_03_project-pricing.git
[submodule "unit3/block04/fsa_block_3_04_tdd-intro"]
	path = unit3/block04/tdd-intro
	url = https://github.com/raven5211/fsa_block_3_04_tdd-intro.git
[submodule "unit3/block03/tabletop-tools"]
	path = unit3/block03/tabletop-tools
	url = https://github.com/raven5211/fsa_tabletop-tools.git
[submodule "unit1/block07/grid_practice"]
	path = unit1/block07/grid_practice
	url = https://github.com/raven5211/fsa_grid_practice.git
[submodule "unit3/block05/loops-intro"]
	path = unit3/block05/loops-intro
	url = https://github.com/raven5211/fsa_loops-intro.git
[submodule "unit3/block05/tdd-loops"]
	path = unit3/block05/tdd-loops
	url = https://github.com/raven5211/fsa_tdd-loops.git
[submodule "unit3/block06/array-intro"]
	path = unit3/block06/array-intro
	url = https://github.com/raven5211/fsa_array-intro.git
[submodule "unit3/block06/tdd-arrays"]
	path = unit3/block06/tdd-arrays
	url = https://github.com/raven5211/fsa_tdd-arrays.git
[submodule "unit3/block07/objects-intro"]
	path = unit3/block07/objects-intro
	url = https://github.com/raven5211/fsa_objects-intro.git
[submodule "unit3/block07/tdd-objects"]
	path = unit3/block07/tdd-objects
	url = https://github.com/raven5211/fsa_tdd-objects.git
[submodule "unit3/block08/array-methods-intro"]
	path = unit3/block08/array-methods-intro
	url = https://github.com/raven5211/fsa_array-methods-intro.git
[submodule "unit3/block08/groceries"]
	path = unit3/block08/groceries
	url = https://github.com/raven5211/fsa_groceries.git
[submodule "unit3/block09/inspirational-quotes"]
	path = unit3/block09/inspirational-quotes
	url = https://github.com/raven5211/fsa_inspirational-quotes.git
[submodule "unit3/block09/freelance-forum"]
	path = unit3/block09/freelance-forum
	url = https://github.com/raven5211/fsa_freelancer-forum.git
[submodule "unit3/block09/DOM-practice"]
	path = unit3/block09/DOM-practice
	url = https://github.com/raven5211/fsa_DOM-practice.git
[submodule "unit3/block10/event-practice"]
	path = unit3/block10/event-practice
	url = https://github.com/raven5211/fsa_event-practice.git
[submodule "unit3/block10/odds-and-evens"]
	path = unit3/block10/odds-and-evens
	url = https://github.com/raven5211/fsa_odds-and-evens.git
[submodule "unit3/block10/counting-sheep"]
	path = unit3/block10/counting-sheep
	url = https://github.com/raven5211/fsa_counting-sheep.git
[submodule "unit3/block11/fullstack-gala"]
	path = unit3/block11/fullstack-gala
	url = https://github.com/raven5211/fsa_fullstack-gala.git
[submodule "unit3/block11/party-planner"]
	path = unit3/block11/party-planner
	url = https://github.com/raven5211/fsa_party-planner.git
[submodule "unit3/block12/fullstack-gala-admin"]
	path = unit3/block12/fullstack-gala-admin
	url = https://github.com/raven5211/fsa_fullstack-gala-admin.git
[submodule "unit3/block12/party-planner-admin"]
	path = unit3/block12/party-planner-admin
	url = https://github.com/raven5211/fsa_party-planner-admin.git
[submodule "unit3/block13/puppy-bowl"]
	path = unit3/block13/puppy-bowl
	url = https://github.com/raven5211/fsa_puppy-bowl.git
[submodule "unit4/block01/puppy-pals"]
	path = unit4/block01/puppy-pals
	url = https://github.com/raven5211/fsa_puppy-pals.git
[submodule "unit4/block01/dark-echoes"]
	path = unit4/block01/dark-echoes
	url = https://github.com/raven5211/fsa_dark-echoes.git
[submodule "unit4/block02/color-palette"]
	path = unit4/block02/color-palette
	url = https://github.com/raven5211/fsa_color-palette.git
[submodule "unit4/block02/react-tv"]
	path = unit4/block02/react-tv
	url = https://github.com/raven5211/fsa_react-tv.git
[submodule "unit4/block03/proper-plants"]
	path = unit4/block03/proper-plants
	url = https://github.com/raven5211/fsa_proper-plants.git
[submodule "unit4/block04/does-it-glow"]
	path = unit4/block04/does-it-glow
	url = https://github.com/raven5211/fsa_does-it-glow.git
[submodule "unit4/block04/whack-a-mole"]
	path = unit4/block04/whack-a-mole
	url = https://github.com/raven5211/fsa_whack-a-mole.git
[submodule "unit4/block05/capybara-clicker"]
	path = unit4/block05/capybara-clicker
	url = https://github.com/raven5211/fsa_capabara-clicker.git
[submodule "unit4/block05/guest-list"]
	path = unit4/block05/guest-list
	url = https://github.com/raven5211/fsa_guest-list.git
[submodule "unit4/block06/number-guesser"]
	path = unit4/block06/number-guesser
	url = https://github.com/raven5211/fsa_number-guesser.git
[submodule "unit4/block06/secret-tunnel"]
	path = unit4/block06/secret-tunnel
	url = https://github.com/raven5211/fsa_secret-tunnel.git
[submodule "unit4/block07/fitness-intro"]
	path = unit4/block07/fitness-intro
	url = https://github.com/raven5211/fsa_fitness-intro.git
[submodule "unit4/block07/fitness-trackr"]
	path = unit4/block07/fitness-trackr
	url = https://github.com/raven5211/fsa_fitness-trackr.git
[submodule "unit4/block08/paint-sample"]
	path = unit4/block08/paint-sample
	url = https://github.com/raven5211/fsa_paint-sample.git
[submodule "unit4/block08/fitness-trackr-pro"]
	path = unit4/block08/fitness-trackr-pro
	url = https://github.com/raven5211/fsa_fitness-trackr-pro.git
[submodule "unit4/block09/fsa_fitness-trackr-pro"]
	path = unit4/block09/fitness-trackr-pro
	url = https://github.com/raven5211/fsa_fitness-trackr-pro.git
[submodule "unit4/block10/BookBuddy"]
	path = unit4/block10/BookBuddy
	url = https://github.com/raven5211/fsa_BookBuddy.git
[submodule "unit6/block01/employee-directory"]
	path = unit6/block01/employee-directory
	url = https://github.com/raven5211/fsa_employee-directory.git
[submodule "unit6/block01/playlist"]
	path = unit6/block01/playlist
	url = https://github.com/raven5211/fsa_playlist.git
[submodule "unit6/block02/notepad"]
	path = unit6/block02/notepad
	url = https://github.com/raven5211/fsa_notepad.git
[submodule "unit6/block02/employee-directory-v2"]
	path = unit6/block02/employee-directory-v2
	url = https://github.com/raven5211/fsa_employee-directory-v2.git
[submodule "unit6/block03/pit-stop"]
	path = unit6/block03/pit-stop
	url = https://github.com/raven5211/fsa_pit-stop.git
[submodule "unit6/block03/mainframe-override"]
	path = unit6/block03/mainframe-override
	url = https://github.com/raven5211/fsa_mainframe-override.git
[submodule "unit6/block04/movieDB"]
	path = unit6/block04/movieDB
	url = https://github.com/raven5211/fsa_movieDB.git
[submodule "unit6/block04/fullstack-employees"]
	path = unit6/block04/fullstack-employees
	url = https://github.com/raven5211/fsa_fullstack-employees.git
[submodule "unit6/block05/movieDB"]
	path = unit6/block05/movieDB
	url = https://github.com/raven5211/fsa_movieDB.git
[submodule "unit6/block05/fullstack-employees"]
	path = unit6/block05/fullstack-employees
	url = https://github.com/raven5211/fsa_fullstack-employees.git
[submodule "unit6/block06/dmv"]
	path = unit6/block06/dmv
	url = https://github.com/raven5211/fsa_dmv.git
[submodule "unit6/block06/filez"]
	path = unit6/block06/filez
	url = https://github.com/raven5211/fsa_filez.git
[submodule "unit6/block07/bridge-hospital"]
	path = unit6/block07/bridge-hospital
	url = https://github.com/raven5211/fsa_bridge-hospital.git
[submodule "unit6/block07/jukebox"]
	path = unit6/block07/jukebox
	url = https://github.com/raven5211/fsa_jukebox.git
